.mainpage {
  position: relative;
}

.image-menu.deals li div {
  font-size: 16px;
}

@media (max-width:1200px) {
  .image-menu.deals {
    flex-direction: column;

    & li {
      width: 100%;
    }
  }
}