@import '../../vars.scss';

.header {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: $main-light-color;
  justify-content: flex-end;
  &>*{
    z-index: 1;
  }
  &>a{
    font-family:$headers-font-family ;
    color:$main-dark-color;
    font-size: 12px;
    margin: 0 10px 0 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
}

.header__button {
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: 0 5px 0 15px;
  &:last-of-type{
    height: 18px;
    position: relative;
    &::after{
      content:'1';
      background-color: $dark-pink;
      width:12px;
      height: 12px;
      font-size: 8px;
      text-align: center;
      border-radius: 50px;
      position: absolute;
      line-height: 12px;
      color:wheat;
      bottom:9px;
      left: 9px;
      display:block;
    }
  }
}

.brand-name{
  width:100%;
  z-index: 0;
}

.language-picker {
  margin: 0 25px;
}

.nav-list{
  margin-right: auto;
}

.header__menu-button{
  display: none;
  margin:0 15px 0 25px;
}
@media (max-width:1150px){
  .nav-list,
  .language-picker,
  .header>a{
    display: none;
  }
  .brand-name{
    position: relative;
    justify-content: flex-start;
  }
  .header__menu-button{
    display: block;
  }
  .header__bag-button{
    margin-right: 25px;
  }
}