
.brand-name {
  width: 166px;

  &>.brand-name__letter {
    height:38px;
    &:first-child {
      margin-right: 13px;
    }

    &:nth-child(2) {
      margin-right: 9.6px;
    }

    &:nth-child(3) {
      margin-right: 11px;
    }
  }
}


@media (max-width: 375px){
  .brand-name {
    width: 100px;
  
    &>.brand-name__letter {
      height: 23px;
      &:first-child {
        margin-right: 7.8px;
      }
  
      &:nth-child(2) {
        margin-right: 5.7px;
      }
  
      &:nth-child(3) {
        margin-right: 6.4px;
      }
    }
  }
}
.brand-name{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: absolute;
  padding: 0 15px;
}