@import '../../vars';
.image-menu{
  display:flex;
  width:100%;
  box-sizing: border-box;
  justify-content: center;
  & li{
    width: 50%;
    position: relative;
  }
  & li:hover .image-menu__text{
    background-color:$main-dark-color;
    color:#fff;
  }
  &__image{
    width:100%;
  }
  & a{
    color:$main-dark-color;
  }
  &__text{
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    font-size: 24px;
    background-color: #fff;
    letter-spacing: .3em;
    padding: 15px 30px;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
    margin: auto;
    font-family: $headers-font-family;
  }
}
@media (max-width:575px){
  .image-menu{
    flex-direction: column;
  }
  .image-menu li{
    width: 100%;
  }
}