$headers-font-family: 'Montserrat', sans-serif;
$text-font-family:'Roboto Condensed', sans-serif;


$main-dark-color:#58595B;
$main-light-color:#F9F8F6;
$light-grey:#EAE6DE;
$light-pink:#F0DED0;
$dark-pink:#D3A785;